 <!-- Foter -->
            <footer class="page-section footer pb-60">
                <div class="container">
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-50 mb-xs-50 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="http://www.facebook.com/ambergarage" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.instagram.com/amber.garage" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="http://www.youtube.com/ambergarage" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="http://vimeo.com/ambergarage" title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a>
                        <a href="http://twitter.com/ambergarage" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                    <!-- End Social Links -->  

                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="https://ambergarage.com" target="_blank">&copy; Amber Garage. 2016</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            a Silicon Valley based creative art &amp; tech studio 
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Foter -->