<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  {% seo %}

  <!-- CSS -->
  <!-- inject:css -->
  <!-- endinject -->
  <link href="assets/fonts/brock_script/fonts.css" rel="stylesheet" type="text/css"/>
  <link href="assets/fonts/futura/fonts.css" rel="stylesheet" type="text/css"/>
  <style>
    .airgraphy-title {
        font-family: "Brock Script", Arial, sans-serif;  
        margin-top: 0;
        position: relative;
        font-size: 96px;
        font-weight: 400;
        line-height: 1.4;
    }

    .cityvr-title {
        font-family: Futura-Medium, Trebuchet MS, Arial, sans-serif;
    }

    @media only screen and (max-width: 767px) {
        .airgraphy-title {
            font-size: 48px;
        }
    }
</style>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <!-- RSS -->
  {% feed_meta %}
</head>
